# Just for testing, don't worry about these when using the action yourself
HOST=
USERNAME=
PASSWORD=
PORT=
PRIVATE_KEY= # Paste between "" with line breaks
SECOND_HOST=
SECOND_USERNAME=
SECOND_PASSWORD=
SECOND_PORT=
SECOND_PRIVATE_KEY= # Paste between "" with line breaks
